:root {
    --primary-font: 'Inter', sans-serif;
    --secondary-font: 'Macondo', cursive;
    --primary-color: #4a2620; /*Dark Brown*/
    --secondary-color: #aa9581;
    --highlight-color: #416a8e;
    --light-highlight-color:#7a9fc2;

}

h1,
h2, 
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
    
}

h1,
h2 {
    text-transform:uppercase;
}

h2{
    margin-bottom: 2rem;
}


body {
    font-family: var(--primary-font);

}
.sub-heading-color {
    color: var(--highlight-color);

}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;

}

/* Navbar Styles */

#navbar {
    background-color: var(--primary-color);}

#navbar .logo {width:30px}

/* Header Styles */
#header .lead{
    font-family: var(--secondary-font);
}

    /* services section */
    #services .card-footer{
        font-weight: bold;
        color: var(--highlight-color);
        background-color: transparent;

    }

    #services .card {
        margin-bottom: 1.5rem; 
    }
    
/* Games Library */

#new-games-section .card,
#fav-games .card {
    border: none; 
}

/* Grid visualisation CSS for Testing  
.container, 
.row {
    border:2px solid black;

}

.col-12 { 
    border: 2px solid white; 
    background-color: lightgray;
}
*/

/*media queries*/
/* Medium devices */
@media (min-width: 768px) and (max-width: 991px) {
    #services .card-body {
        min-height: 191px; /* levels off cards */
    }
}
/* large devices */
@media (min-width: 992px) {
    #services .card-body {
        min-height: auto; /* levels off cards */
    }
}

/* XL devices */
@media (min-width: 1200px) {
    #services .card-body {
        min-height: 220px; /* levels off cards */
    }
}

/* XXL devices */
@media (min-width: 1400px) {
    #services .card-body {
        min-height: 195px; /* levels off cards */
    }
}


